.container {
  width: calc(100% - 25px);
  height: 100%;
  padding-right: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  margin-top: 10px;
}

.filter > .button {
  border-radius: 999px;
  padding: 0px 35px;
  height: 70px;
  font-size: 30px;
  background-color: #ffffff;
  color: #1f1e1e;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter > .button:hover {
  background-color: #ffffffee;
}

.filter > .button.selected {
  color: #ffffff;
  background-color: #c62b29;
}

.filter > .button.selected:hover {
  background-color: #d94745;
}

.panel {
  height: auto;

  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .panel {
    width: 100%;
  }
}
